# ignore file types
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*.h5
*.gif
*.pyc
*.csv
*.json
*.xlsx
# *.ipynb
# *SIMsalabim
# *.py
*.html
*.rst
# *.css
*.js
*.egg-info
# ignore folders
__pycache__/
.vscode/
.ipynb_checkpoints/
dist/
# build/
.eggs/
.pypirc
temp/
/docs/build
/docs/source/_static
/docs/source/_templates
/docs/source/auto_examples
/build/

# Exceptions
!docs/logo/**
!docs/source/optimPV_logo.png
!docs/index.html
!docs/source/*.rst
!docs/source/*.py
!docs/source/examples/*.rst
!docs/source/examples/*.ipynb
!Download_SIMsalabim.py
!Notebooks/*.ipynb
!requirements.txt

/testing_notebooks/
/.tmp_dir/
/SIMsalabim*/
/SIMsalabim/
!/Data/matdata/*txt
!/Data/simsalabim_test_inputs/fakeOPV/*
!/Data/simsalabim_test_inputs/fakePerovskite/*
# !/Data/simsalabim_test_inputs/JVrealPerovskite/*
!/Data/simsalabim_test_inputs/JVrealOPV/*
!/Data/perovskite_trPL_trMC/*
!/Data/perovskite_trPL/*
!/Data/6D_pero_opti/*
!/Data/pero_MOO_opti/*
!/Data/FAPI_trPL/*
!/Data/pero_JV_QFLS/*
!/optimpv/tests/HPA/hpa/airfoil_info/*.xlsx

